
<!-- <table id="example" class="display compact" style="width:100%"> -->
    <table class="dataTable display compact" style="width:100%">
        <thead>
            <tr>
                <th>Sno</th>
                <% data.metaData.forEach(element => { %>
                   <th><%=element.name%></th>
                <% }); %>
            </tr>
        </thead>
        <tbody>
            <% data.rows.forEach(function(row, i){ %>
                <tr>
                    <td><%= i+1 %></td>
                    <% for (const [key, value] of Object.entries(row)) { %>
                        <% if (locals.links) { 
                            let linkf = links.filter(obj=>obj.feild===key)
                            %>
                            <td>                          
                                <% if(linkf.length>0) { %>
                                    <a href="/<%=linkf[0].page%>/<%=row[linkf[0].params]%>">
                                        <%= value %>
                                    </a>
                                    <% } else { %>
                                          <%= value %>
                                    <% } %>
                            </td>
                        <% } else { %>
                            <td>
                                <%= typeof value==='object' && value!= null ? moment(value).format('DD-MMM-YYYY') :  value %>
                            </td>
                            <% } %>
                    <% } %>
                </tr>
                <%})%>
        
        </tbody>
        
        <% if(locals.tablesummary) { %>
                <tfoot>
                    <tr>
                    <td>Total</td>
                    <% data.metaData.forEach(element => { %>                    
                       <td><strong> 
                        <a href="/<%=summarypage%>/TOTAL">                        
                        <%- tablesummary.includes(element.name)?  
                              data.rows.reduce((total, obj)=>(obj[element.name] + total),0) : "**" %>
                            </a>
                    </strong></td>
                    <% }); %>
                    </tr>
                </tfoot>
            <% } %>
    
    </table>

   


    
