<div class="container-fluid">
    <!-- <table id="example" class="display compact" style="width:95%"> -->
    <table  class="jqueryTable table table-sm table-striped table-bordered" style="width:95%">
      
        <thead class="thead-dark">
            <tr>
                <% data.metaData.forEach(element => { %>
                   <th><%=element.name%></th>
                <% }); %>
            </tr>
        </thead>
        <tbody>
            <% data.rows.forEach(function(row){ %>
                <tr>
                    <% for (const [key, value] of Object.entries(row)) { %>
                        <% if (locals.links) { 
                            let linkf=links.filter(obj=> obj.feild===key)
                            %>
                            <td>
                                <% if(linkf.length>0) { %>
                                    <a href="/<%=linkf[0].page%>/<%=row[linkf[0].params]%>">
                                        <%= value %>
                                    </a>
                                    <% } else { %>
                                        <%= value %>
                                            <% } %>
                            </td>
                        <% } else { %>
                            <td>
                                <%= typeof value==='object' ? moment(value).format('Do MMMM, YYYY') :value %>
                            </td>
                            <% } %>
                    <% } %>
                </tr>
                <%})%>
        
        </tbody>

        <% if(locals.footer) { %>
            <tfoot>
                <tr>
                    <% footer.forEach(function(f){ %>
                        <td><%- f -%></td>
                    <%}) %>
                </tr>
            </tfoot>

         <% } %>


    </table>
    <% 
        
        let t =  data.rows.reduce((total, obj)=>(obj.COUNT + total),0);
    %>
    <%= t%>
</div>
